<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Cost</td>
            <td>Controls</td>
            <td>Inc/Dec Cost</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s:${products}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.title}"></td>
            <td th:text="${s.cost}"></td>
            <td>
                <a th:href="@{'/products/' + ${s.id}}" type="button" class="btn btn-success">More</a>
            </td>
            <td>
                <a th:href="@{'/products/inc_' + ${s.id}}" type="button" class="btn btn-success">+</a>
                <a th:href="@{'/products/dec_' + ${s.id}}" type="button" class="btn btn-success">-</a>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="${'Total products: ' + products.size()}"/>
    <p></p>
    <div>
        <a th:href="@{'/products/create'}" type="button" class="btn btn-success">Add product</a>
        <p></p>
    </div>
    <a th:href="@{'/'}" type="button" class="btn btn-success">Main Page</a>
</div>
</body>
</html>